
 Ôøà´©Å wrangler 4.92.0 (update available 4.100.0)
ÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇ
Resource location: remote 

­ƒîÇ Executing on remote database team_inox_prod_v2 (5bc66f8c-227f-4492-9361-d32f2a07b53a):
­ƒîÇ To execute on your local development database, remove the --remote flag from your wrangler command.
­ƒÜú Executed 1 command in 0.21ms
[
  {
    "results": [
      {
        "sql": "CREATE TABLE athletes (zwid INTEGER PRIMARY KEY, name TEXT, email TEXT, password_hash TEXT, role TEXT, base_category TEXT, gender TEXT, created_at DATETIME, avatar_url TEXT, zftp REAL, zftpw INTEGER, zmap REAL, zmapw INTEGER, profile_id INTEGER, wtrl_user_id TEXT)"
      },
      {
        "sql": "CREATE TABLE zrl_seasons (id INTEGER PRIMARY KEY, name TEXT NOT NULL, external_season_id INTEGER, is_active BOOLEAN DEFAULT 0, status TEXT, scoring_type TEXT, start_date TEXT, end_date TEXT)"
      },
      {
        "sql": "CREATE TABLE series (id INTEGER PRIMARY KEY, name TEXT NOT NULL, external_season_id INTEGER, is_active BOOLEAN DEFAULT 0, start_date TEXT, scoring_type TEXT, end_date TEXT, status TEXT)"
      },
      {
        "sql": "CREATE TABLE teams (id INTEGER PRIMARY KEY, series_id INTEGER, name TEXT NOT NULL, wtrl_team_id INTEGER, division TEXT, time_slot TEXT, category TEXT, wtrl_team_url TEXT, tttid INTEGER, club_name TEXT, gender TEXT, league TEXT, zrldivision TEXT, league_color TEXT, rec INTEGER, status INTEGER, is_dev INTEGER, rounds TEXT, member_count INTEGER, season_id INTEGER, season_code TEXT, division_number INTEGER, captain_id INTEGER, club_id TEXT, FOREIGN KEY (series_id) REFERENCES series(id))"
      },
      {
        "sql": "CREATE TABLE availability (id INTEGER PRIMARY KEY, athlete_id INTEGER, round_id INTEGER, status TEXT, FOREIGN KEY (athlete_id) REFERENCES athletes(zwid), FOREIGN KEY (round_id) REFERENCES rounds(id))"
      },
      {
        "sql": "CREATE TABLE race_lineup (id INTEGER PRIMARY KEY, round_id INTEGER, athlete_id INTEGER, status TEXT, team_id INTEGER, role TEXT, race_id INTEGER, FOREIGN KEY (round_id) REFERENCES rounds(id), FOREIGN KEY (athlete_id) REFERENCES athletes(zwid))"
      },
      {
        "sql": "CREATE TABLE team_members (id INTEGER PRIMARY KEY, team_id INTEGER, athlete_id INTEGER, role TEXT, wtrl_rider_id INTEGER, zwift_id INTEGER, season_id INTEGER, name TEXT, category TEXT, is_active INTEGER, last_import_id TEXT, FOREIGN KEY (team_id) REFERENCES teams(id), FOREIGN KEY (athlete_id) REFERENCES athletes(zwid))"
      },
      {
        "sql": "CREATE TABLE round_teams (\r\n    round_id INTEGER NOT NULL,\r\n    team_id INTEGER NOT NULL,\r\n    timeslot_id TEXT REFERENCES league_times(id),\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,\r\n    PRIMARY KEY (round_id, team_id),\r\n    FOREIGN KEY (round_id) REFERENCES rounds(id) ON DELETE CASCADE,\r\n    FOREIGN KEY (team_id) REFERENCES teams(id) ON DELETE CASCADE\r\n)"
      },
      {
        "sql": "CREATE TABLE results (id INTEGER PRIMARY KEY, round_id INTEGER, athlete_id INTEGER, position INTEGER, points INTEGER, time TEXT, FOREIGN KEY (round_id) REFERENCES rounds(id), FOREIGN KEY (athlete_id) REFERENCES athletes(zwid))"
      },
      {
        "sql": "CREATE TABLE user_time_preferences (id INTEGER PRIMARY KEY, athlete_id INTEGER, round_id INTEGER, preference TEXT, FOREIGN KEY (athlete_id) REFERENCES athletes(zwid), FOREIGN KEY (round_id) REFERENCES rounds(id))"
      },
      {
        "sql": "CREATE TABLE zrl_round_groups (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    series_id INTEGER NOT NULL,\r\n    round_index INTEGER NOT NULL,\r\n    external_season_id INTEGER,\r\n    description TEXT,\r\n    is_closed BOOLEAN DEFAULT 0,\r\n    FOREIGN KEY (series_id) REFERENCES zrl_seasons(id),\r\n    UNIQUE(series_id, round_index)\r\n)"
      },
      {
        "sql": "CREATE TABLE zrl_team_standings (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    round_group_id INTEGER NOT NULL,\r\n    league_key TEXT NOT NULL,\r\n    team_name TEXT NOT NULL,\r\n    rank INTEGER,\r\n    league_points INTEGER,\r\n    pts_fal INTEGER,\r\n    pts_fts INTEGER,\r\n    pts_finish INTEGER,\r\n    r1 TEXT, r2 TEXT, r3 TEXT, r4 TEXT, r5 TEXT, r6 TEXT, r7 TEXT, r8 TEXT,\r\n    is_inox BOOLEAN DEFAULT 0, wtrl_team_id INTEGER, league_name TEXT, total_race_points INTEGER,\r\n    FOREIGN KEY (round_group_id) REFERENCES zrl_round_groups(id),\r\n    UNIQUE(round_group_id, league_key, team_name)\r\n)"
      },
      {
        "sql": "CREATE TABLE zrl_races (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    zrl_round_group_id INTEGER NOT NULL,\r\n    name TEXT NOT NULL,\r\n    date DATETIME,\r\n    world TEXT,\r\n    route TEXT, series_id INTEGER,\r\n    FOREIGN KEY (zrl_round_group_id) REFERENCES zrl_round_groups(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE division_results (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    round_id INTEGER NOT NULL,\r\n    league_key TEXT NOT NULL,\r\n    team_name TEXT NOT NULL,\r\n    rider_name TEXT,\r\n    zwid INTEGER,\r\n    position INTEGER,\r\n    time REAL,\r\n    points_finish INTEGER DEFAULT 0,\r\n    points_fal INTEGER DEFAULT 0,\r\n    points_fts INTEGER DEFAULT 0,\r\n    points_total INTEGER DEFAULT 0,\r\n    is_inox BOOLEAN DEFAULT 0,\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP\r\n, wtrl_team_id INTEGER)"
      },
      {
        "sql": "CREATE TABLE zrl_season_events (id INTEGER PRIMARY KEY AUTOINCREMENT, season_id INTEGER NOT NULL, sequence_number INTEGER NOT NULL, step_name TEXT NOT NULL, event_type TEXT NOT NULL, payload TEXT, trace_id TEXT, created_at DATETIME DEFAULT CURRENT_TIMESTAMP)"
      },
      {
        "sql": "CREATE TABLE zrl_orchestrator_locks (season_id INTEGER PRIMARY KEY, owner_token TEXT NOT NULL, expires_at DATETIME NOT NULL)"
      },
      {
        "sql": "CREATE TABLE zrl_sequence_tracker (season_id INTEGER PRIMARY KEY, last_sequence_number INTEGER DEFAULT 0)"
      },
      {
        "sql": "CREATE TABLE zrl_idempotency_keys (idempotency_key TEXT PRIMARY KEY, status TEXT NOT NULL, result_payload TEXT, created_at DATETIME DEFAULT CURRENT_TIMESTAMP)"
      },
      {
        "sql": "CREATE TABLE zrl_sequence (\r\n  season_id INTEGER PRIMARY KEY,\r\n  current_sequence INTEGER NOT NULL\r\n)"
      },
      {
        "sql": "CREATE TABLE wtrl_import_logs (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    type TEXT NOT NULL,\r\n    filename TEXT NOT NULL,\r\n    imported_count INTEGER DEFAULT 0,\r\n    skipped_count INTEGER DEFAULT 0,\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP\r\n)"
      },
      {
        "sql": "CREATE TABLE zrl_outbox_events (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    event_type TEXT NOT NULL,\r\n    payload TEXT NOT NULL,\r\n    status TEXT DEFAULT 'PENDING',\r\n    retry_count INTEGER DEFAULT 0,\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,\r\n    processed_at DATETIME\r\n)"
      },
      {
        "sql": "CREATE TABLE zrl_participation_intent (\r\n    zwid INTEGER NOT NULL,\r\n    series_id INTEGER NOT NULL,\r\n    intent BOOLEAN NOT NULL,\r\n    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,\r\n    PRIMARY KEY (zwid, series_id),\r\n    FOREIGN KEY (zwid) REFERENCES athletes(zwid),\r\n    FOREIGN KEY (series_id) REFERENCES series(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE zrl_ai_reports (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    round_id INTEGER NOT NULL,\r\n    team_id INTEGER NOT NULL, \n    report_type TEXT NOT NULL CHECK(report_type IN ('race', 'round', 'season', 'rider')),\r\n    content TEXT NOT NULL,\r\n    model TEXT NOT NULL,\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,\r\n    hash TEXT UNIQUE NOT NULL\r\n)"
      },
      {
        "sql": "CREATE TABLE races (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    round_id INTEGER NOT NULL,\r\n    name TEXT NOT NULL,\r\n    race_type TEXT,\r\n    scheduled_at TEXT,\r\n    FOREIGN KEY (round_id) REFERENCES rounds(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE riders (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    zwid INTEGER UNIQUE NOT NULL,\r\n    name TEXT NOT NULL\r\n)"
      },
      {
        "sql": "CREATE TABLE team_race_results (\r\n    race_id INTEGER NOT NULL,\r\n    team_id INTEGER NOT NULL,\r\n    position INTEGER,\r\n    points INTEGER,\r\n    PRIMARY KEY (race_id, team_id),\r\n    FOREIGN KEY (race_id) REFERENCES races(id),\r\n    FOREIGN KEY (team_id) REFERENCES teams(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE rider_race_results (\r\n    race_id INTEGER NOT NULL,\r\n    rider_id INTEGER NOT NULL,\r\n    team_id INTEGER NOT NULL,\r\n    position INTEGER,\r\n    time REAL,\r\n    points INTEGER,\r\n    PRIMARY KEY (race_id, rider_id),\r\n    FOREIGN KEY (race_id) REFERENCES races(id),\r\n    FOREIGN KEY (rider_id) REFERENCES riders(id),\r\n    FOREIGN KEY (team_id) REFERENCES teams(id)\r\n)"
      },
      {
        "sql": "CREATE TABLE graph_edges (\r\n    source_type TEXT NOT NULL,\r\n    source_id INTEGER NOT NULL,\r\n    target_type TEXT NOT NULL,\r\n    target_id INTEGER NOT NULL,\r\n    edge_type TEXT NOT NULL,\r\n    PRIMARY KEY (source_type, source_id, target_type, target_id, edge_type)\r\n)"
      },
      {
        "sql": "CREATE TABLE seasons (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    code TEXT UNIQUE NOT NULL,\r\n    name TEXT NOT NULL\r\n)"
      },
      {
        "sql": "CREATE TABLE rounds_v2 (\r\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n    wtrl_id INTEGER UNIQUE NOT NULL,\r\n    season_code TEXT,\r\n    round_number INTEGER,\r\n    name TEXT NOT NULL,\r\n    starts_at TEXT,\r\n    ends_at TEXT,\r\n    sync_state TEXT DEFAULT 'PENDING',\r\n    created_at TEXT DEFAULT CURRENT_TIMESTAMP,\r\n    updated_at TEXT DEFAULT CURRENT_TIMESTAMP,\r\n    FOREIGN KEY (season_code) REFERENCES seasons(code)\r\n)"
      },
      {
        "sql": "CREATE TABLE round_action_log (\r\n    id TEXT PRIMARY KEY,\r\n    action TEXT NOT NULL,\r\n    round_id INTEGER NOT NULL,\r\n    status TEXT NOT NULL,\r\n    payload TEXT,\r\n    import_id TEXT,\r\n    sequence_number INTEGER,\r\n    version INTEGER DEFAULT 1,\r\n    created_at DATETIME DEFAULT CURRENT_TIMESTAMP\r\n)"
      },
      {
        "sql": "CREATE TABLE league_times (id TEXT PRIMARY KEY, region TEXT, start_time_utc TEXT, display_name TEXT, slot_order INTEGER)"
      },
      {
        "sql": "CREATE TABLE rounds (id INTEGER PRIMARY KEY)"
      },
      {
        "sql": "CREATE TABLE season_lifecycle_status (id TEXT PRIMARY KEY, status TEXT, updated_at DATETIME)"
      },
      {
        "sql": "CREATE TABLE season_action_log (id TEXT PRIMARY KEY, action TEXT, details TEXT, created_at DATETIME)"
      },
      {
        "sql": "CREATE TABLE wtrl_import_locks (id TEXT PRIMARY KEY, lock_name TEXT)"
      },
      {
        "sql": "CREATE TABLE wtrl_import_state (id TEXT PRIMARY KEY, state TEXT)"
      }
    ],
    "success": true,
    "meta": {
      "served_by": "v3-prod",
      "served_by_region": "EEUR",
      "served_by_colo": "FRA",
      "served_by_primary": true,
      "timings": {
        "sql_duration_ms": 0.2085
      },
      "duration": 0.2085,
      "changes": 0,
      "last_row_id": 0,
      "changed_db": false,
      "size_after": 528384,
      "rows_read": 79,
      "rows_written": 0,
      "total_attempts": 1
    }
  }
]
