PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE availability (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    rider_id INTEGER NOT NULL,

    race_id INTEGER NOT NULL,

    status TEXT NOT NULL,

    UNIQUE(rider_id, race_id)

);
INSERT INTO availability VALUES(1,355,1,'incerto');
CREATE TABLE password_reset_tokens (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    user_id INTEGER NOT NULL,

    token TEXT UNIQUE NOT NULL,

    expires_at DATETIME NOT NULL,

    FOREIGN KEY (user_id) REFERENCES "users_old"(id)

);
CREATE TABLE race_results (

    race_date TEXT NOT NULL,

    zwift_power_id TEXT NOT NULL,

    team_id INTEGER,

    position INTEGER,

    time TEXT,

    points INTEGER,

    PRIMARY KEY (race_date, zwift_power_id),

    FOREIGN KEY (team_id) REFERENCES teams(id),

    FOREIGN KEY (zwift_power_id) REFERENCES "riders_old"(zwift_power_id)

);
CREATE TABLE IF NOT EXISTS "teams" (
	"id"	INTEGER,
	"name"	TEXT NOT NULL,
	"category"	TEXT NOT NULL,
	"division"	TEXT NOT NULL,
	"captain_id"	TEXT, captain_zwift_id INTEGER, league_id INTEGER REFERENCES leagues(id), division_number INTEGER,
	PRIMARY KEY("id")
);
INSERT INTO teams VALUES(1,'Team INOX FIRE','C','3',NULL,6441343,5,1);
INSERT INTO teams VALUES(2,'Team INOX AAB','C','1',NULL,1237268,3,NULL);
INSERT INTO teams VALUES(3,'Team INOX DEV','B','3',NULL,789201,5,NULL);
CREATE TABLE seasons (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    name TEXT NOT NULL,           -- es. "2025/2026 Season"

    start_year INTEGER NOT NULL,

    end_year INTEGER NOT NULL,

    UNIQUE(name)

);
INSERT INTO seasons VALUES(1,'ZRL 2025/26','2025-09-16','2026-04-28');
CREATE TABLE race_lineup (

    team_id INTEGER,

    race_date TEXT,

    zwift_power_id TEXT

);
INSERT INTO race_lineup VALUES(2,'2025-11-04','4369191');
INSERT INTO race_lineup VALUES(2,'2025-11-04','6801312');
INSERT INTO race_lineup VALUES(2,'2025-11-04','1842490');
CREATE TABLE races (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        race_date TEXT NOT NULL,
        format TEXT,
        world TEXT,
        course TEXT,
        laps INTEGER,
        distance_km REAL,
        elevation_m REAL,
        powerups TEXT,
        fal_segments TEXT,
        fts_segments TEXT,
        active INTEGER DEFAULT 1, round_id INTEGER REFERENCES rounds(id), external_id TEXT,
        UNIQUE(race_date, name)
    );
INSERT INTO races VALUES(1,'Race 1','2025-11-04','TTT','LONDON','Greatest London Flat',1,31.0,222.5,'none','','',1,2,NULL);
INSERT INTO races VALUES(2,'Race 2','2025-11-11','Points','NEW YORK','Rising Empire',2,42.0,755.6000000000000227,'none',unistr('New York FWD Climb (x2)\u000aNew York REV Sprint (x2)\u000aNew York REV Climb (x2)'),unistr('New York FWD Climb (x2)\u000aNew York REV Sprint (x2)\u000aNew York REV Climb (x2)'),1,2,NULL);
INSERT INTO races VALUES(3,'Race 3','2025-11-18','Scratch','LONDON','London Loop Reverse',3,44.70000000000000285,692.2000000000000454,'none','','',1,2,NULL);
CREATE TABLE rounds (

    id INTEGER PRIMARY KEY,

    season_id INTEGER NOT NULL,

    round_number INTEGER NOT NULL,

    name TEXT,

    start_date TEXT,

    end_date TEXT, is_active INTEGER DEFAULT 0,

    FOREIGN KEY (season_id) REFERENCES seasons(id) ON DELETE CASCADE

);
INSERT INTO rounds VALUES(1,1,1,'ZRL Coastal Clash','2025-09-16','2025-10-14',0);
INSERT INTO rounds VALUES(2,1,2,'ZRL City Showdown','2025-11-04','2025-12-09',1);
CREATE TABLE rider_teams (

    zwift_power_id TEXT NOT NULL,

    team_id INTEGER NOT NULL,

    active INTEGER DEFAULT 1,

    PRIMARY KEY (zwift_power_id, team_id),

    FOREIGN KEY (zwift_power_id) REFERENCES "riders_old"(zwift_power_id),

    FOREIGN KEY (team_id) REFERENCES teams(id)

);
INSERT INTO rider_teams VALUES('42382',6,0);
INSERT INTO rider_teams VALUES('5265039',6,0);
INSERT INTO rider_teams VALUES('4483917',6,0);
CREATE TABLE riders (

    zwift_power_id TEXT PRIMARY KEY,

    name TEXT NOT NULL,

    category TEXT,

    ranking REAL,

    wkg_20min REAL,

    watt_20min REAL,

    wkg_15sec REAL,

    watt_15sec REAL,

    status TEXT,

    races INTEGER,

    weight REAL,

    ftp REAL,

    age INTEGER,

    available_zrl INTEGER DEFAULT 1,

    is_captain INTEGER DEFAULT 0,

    email TEXT,

    password TEXT,

    active INTEGER DEFAULT 1,

    profile_url TEXT,

    created_at TEXT,

    country TEXT

, team_id INTEGER);
INSERT INTO riders VALUES('1791956','Cesare Carminati','C',508.0799999999999841,0.0,0.0,0.0,0.0,NULL,119,54.5,161.0,0,1,0,NULL,NULL,1,NULL,NULL,'IT',NULL);
INSERT INTO riders VALUES('413798','Francesco Avesani [INOX]','B',536.4500000000000454,4.099999999999999644,272.0,9.199999999999999289,604.0,NULL,282,65.90000000000000569,274.0,0,1,0,NULL,NULL,1,NULL,NULL,'IT',NULL);
INSERT INTO riders VALUES('904546','giuseppe durante','A',535.6499999999999773,4.099999999999999644,299.0,7.599999999999999645,562.0,NULL,214,75.0,287.0,0,1,0,NULL,NULL,1,NULL,NULL,'IT',NULL);
CREATE TABLE rider_team (
    rider_id INTEGER,
    team_id INTEGER,
    PRIMARY KEY (rider_id, team_id),
    FOREIGN KEY (rider_id) REFERENCES riders(id),
    FOREIGN KEY (team_id) REFERENCES teams(id)
);
CREATE TABLE leagues (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    name TEXT NOT NULL,           -- es. "Open Shamrock League"

    type TEXT NOT NULL,           -- "Open" | "Women"

    region TEXT NOT NULL,         -- "Shamrock", "EMEA", "America East" ecc.

    UNIQUE(name, type, region)

);
INSERT INTO leagues VALUES(2,'Navy League','Open','Navy League');
INSERT INTO leagues VALUES(3,'Shamrock League','Open','Shamrock League');
INSERT INTO leagues VALUES(4,'Emerald League','Open','Emerald League');
CREATE TABLE captains (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    zwift_power_id TEXT NOT NULL,

    name TEXT,

    team_id INTEGER NOT NULL,

    assigned_at DATETIME DEFAULT CURRENT_TIMESTAMP,

    active INTEGER DEFAULT 1,

    UNIQUE(team_id, zwift_power_id)

);
INSERT INTO captains VALUES(1,'1237268','Nicola Mancini [INOX]',2,'2025-10-19 11:42:14',1);
INSERT INTO captains VALUES(3,'1005113','Luca Miggiano',5,'2025-10-19 11:44:05',1);
INSERT INTO captains VALUES(4,'3617605','Francesco Ravasi [INOX]',8,'2025-10-19 11:45:04',0);
CREATE TABLE users (

    zwift_power_id INTEGER PRIMARY KEY,

    email TEXT UNIQUE NOT NULL,

    password TEXT NOT NULL,

    role TEXT NOT NULL CHECK(role IN ('admin', 'moderator', 'captain')),

    team_id INTEGER,

    active INTEGER DEFAULT 1

);
INSERT INTO users VALUES(2975361,'admin@teamzrl.it','scrypt:32768:8:1$i3A3ji8xgIaKqvVq$470af462914cc3bf46a7ea79a56dd8c89a5edf6875cd22140cf4a38e6a90a94525d1188198403961d25a9560765e74a695084c79cd97a065ed878f78aa61cdd7','admin',NULL,1);
INSERT INTO users VALUES(1762467375,'francesco.ravasi@teamzrl.it','scrypt:32768:8:1$yt5DiVQHPTHFMre2$3c859224ebf0f49088dbd1106626aa8fc498b4c19a753d8c3595f3748ee33dd2f12a0dc34a52193c22e942d92725347722af3095837935fae3751c53cf3c8c1d','moderator',3617605,1);
INSERT INTO sqlite_sequence VALUES('availability',1);
INSERT INTO sqlite_sequence VALUES('seasons',1);
INSERT INTO sqlite_sequence VALUES('races',6);
CREATE INDEX idx_rounds_season_id ON rounds(season_id);
CREATE INDEX idx_races_round_id ON races(round_id);
COMMIT;
